@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* =========================
   TYPOGRAPHY
   ========================= */

   body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: white;
    background: #000;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }
    body h1 {
        font-weight: 900;
    }
    h2 {
        font-weight: 900;
    }
    main {
        flex: 1;
    }

/* =========================
   NAVBAR CONTAINER
   ========================= */

.custom-navbar {
    position: fixed; /* keeps navbar always at the top */
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 999; /* ensures it stays above other elements */

    background: rgba(0, 0, 0, 0.6); 
    /* semi-transparent dark background for better text contrast */

    backdrop-filter: blur(10px); 
    /* glass effect (blurs content behind the navbar) */

    --bs-navbar-color: #ffffff; 
    /* Bootstrap variable: sets default link color */

    --bs-navbar-brand-color: #ffffff; 
    /* Bootstrap variable: sets brand (logo) color */
}

/* =========================
   BRAND (LOGO)
   ========================= */

nav.custom-navbar .navbar-brand {
    color: #ffffff; ;
    padding-left: 15px; 
    /* forces the brand text (sky-fly) to be white */
}

/* =========================
   NAVIGATION LINKS
   ========================= */

nav.custom-navbar .navbar-nav .nav-link {
    color: white; 
    /* sets navigation links to white */

    opacity: 1; 
    /* removes Bootstrap default faded effect */
}

/* =========================
   HAMBURGER BUTTON
   ========================= */

.navbar-toggler {
    border: none;
    background: transparent;
    box-shadow: none;
    /* removes default button styles */
}

.navbar-toggler-icon {
    filter: invert(1);
    /* makes the burger icon white on small screens */
}

/* =========================
   HERO SECTION
   ========================= */

   .hero {
    position: relative; /* 👈 FALTAVA ISSO */
    height: 100vh;
    background: url("./images/hero-ch-sunset.png") center/cover no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3); 
    /* controls overlay darkness */
}

.hero-content {
    position: relative;
    color: white;
    text-align: center;
}

/* =========================
   FLY EXPERIENCE VIDEO
   ========================= */

.experience-hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .experience-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,1.0));
  }
  
  .experience-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
  }
  
  .experience-content h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
    font-style: bold;
  }
  
  .experience-content p {
    font-size: 1.rem;
    margin-bottom: 25px;
    font-style: italic;
  }

  /* EXPERIENCE INFO */
  .experience-info {
    padding: 80px 20px 0px;
    text-align: center;
    background: #111;
    color: white;
  }
  
  .experience-info p {
    max-width: 600px;
    margin: 20px auto 0;
    color: #aaa;
  }

  /* HIGHLIGHTS EXPERIENCE  */
  .experience-highlights {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 20px;
    background: #111;
    color: white;
    text-align: center;
    margin: 0;
  }
  
  @media (min-width: 768px) {
    .experience-highlights {
      flex-direction: row;
      justify-content: center;
    }
  }

  /* TESTEMUNIAL CARDS */

  .testimonials {
    padding: 80px 20px;
    background: #000;
    color: white;
    text-align: center;
  }
  
  .testimonials h2 {
    margin-bottom: 50px;
  }
  
  /* GRID */
  .testimonials-grid {
    display: grid;
    gap: 20px;
  }
  
  @media (min-width: 768px) {
    .testimonials-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* CARD */
  .testimonial-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 25px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease;
  }
  
  .testimonial-card:hover {
    transform: translateY(-5px);
  }
  
  /* TEXT */
  .testimonial-card p {
    font-size: 0.95rem;
    color: #ccc;
  }
  
  /* STARS */
  .stars {
    margin: 15px 0;
    color: #efd331;
  }
  
  /* NAME */
  .testimonial-card span {
    font-size: 0.85rem;
    color: #fff;
  }

  /* CTA EXPERIENCE */
  .experience-cta {
    padding: 80px 20px;
    text-align: center;
    background: #111;
    color: white;
    
  }

  /* BUTTON CTA */
  .cta-button {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 30px;
    margin-top: 10px;
  
    background: rgb(5, 67, 133);
    color: rgb(254, 254, 254);
    text-decoration: none;
  
    font-weight: 500;
    transition: all 0.3s ease;

    /* remove bootstrap shadow from formular button" */
    border: none;
    outline: none;
    box-shadow: none;
  }
  
  
  .cta-button:hover {
    background: #093468;
    transform: translateY(2px);
  }

/* =========================
   GALLERY
   ========================= */

.gallery-section {
    padding: 100px 20px;
    background: #111;
    color: white;
    text-align: center;
    
}

.gallery-container {
    width: auto;
    margin: 0 auto;
}

.gallery-section h2 {
    margin-bottom: 10px;
}

.gallery-section p {
    margin-bottom: 40px;
    color: #aaa;
}

/* GRID */

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

/* IMAGES */

.gallery-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1; /* ratio */
    border-radius: 8px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* HOVER */

.gallery-grid img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}


/* =========================
   CONTACT
   ========================= */

.contact-section {
    position: relative;
    min-height: 100vh; /* ensures section fills the screen */
    padding: 100px 20px;
    background: url("./images/contact.png") center/cover no-repeat;
}

.contact-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    /* dark overlay for better readability */
}

.contact-container {
    position: relative;
    z-index: 1;

    max-width: 500px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
}

/*   Changing calendar icon color for white */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
  }

/* form elements */

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 12px;
  
    background: rgba(255, 255, 255, 0.05); /* transparente */
    border: 1px solid rgba(255, 255, 255, 0.1);
  
    color: white;
    border-radius: 6px;
  
    outline: none;
    transition: all 0.3s ease;
  }


/* =========================
   FOOTER
   ========================= */

.footer {
    background: #000;
    padding: 30px 20px;
    color: #888888;
}

/* footer text + layout */

.footer-content {
    display: flex;
    flex-direction: column; /* mobile first */
    align-items: center;
    gap: 15px;
    text-align: center;
}

/* footer links */

.footer a {
    color: white;
    margin: 0 8px;
    text-decoration: none;
}

.footer a:hover {
    color: #ff6b00;
}

/* footer icons */

.footer i {
    font-size: 28px;
    color: #888888;
    transition: color 0.3s ease, transform 0.2s ease;
}

.footer i:hover {
    color: #ffffff;
    transform: scale(1.2);
}

/* =========================
   DESKTOP (larger screens)
   ========================= */

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row; /* switches to row layout */
        justify-content: space-between; /* space between left and right */
        text-align: left;
    }
}
/* =========================
   SMALL SCREENS
   ========================= */
@media (max-width: 768px) {
    .gallery-grid {
      grid-template-columns: 1fr;
    }
  }