@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* /* NAVBAR */ 
.custom-navbar {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(510x);
  }
  .navbar.custom-navbar {
    background-color: transparent;
  }

/* Hero Section */
.hero {
    height: 100vh;
    background:url("./images/hero-ch-sunset.png") center/cover no-repeat;
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-content {
    text-align: center;
   color: black;
    
}
/* Typography */
body {
    font-family: 'Inter', sans-serif;
}

/* NAVBAR */
/* Footer */
